# RENAME THIS TO `.env`
# `.env` is never committed
# Modify these fields that suits your machine's fields
# DB_HOST, and DB_PORT is usually the same for each machine
# However, DB_USER, and DB_PASSWORD is not going to be the same
DB_HOST = "localhost"
DB_PORT = 3306
DB_USER = "root"
DB_PASSWORD = "password"
# This is the name of the Database
# If you already created the Database in MySQL, modify this,
DB_DATABASE = "ApplicationsDB"
